.container{
    width: 1200px;
    padding: 50px;
}
.comentarios{
    padding: 10px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
h1, .h1{
    font-size: 2rem;
}
h2, .h2{
    font-size: 1.2rem;
    font-weight: bold;
}
.sobreMim{
    padding-left: 50px;
}
.sobreMim>div{
    padding-left: 50px;
}
